<!doctype html>
<!--[if lt IE 7]>
	<html class="no-js ie6 oldie" lang="en">
<![endif]-->
<!--[if IE 7]>
	<html class="no-js ie7 oldie" lang="en">
<![endif]-->
<!--[if IE 8]>
	<html class="no-js ie8 oldie" lang="en">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ page.seoLang }}">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>{{ page.title }}</title>
	<meta name="keywords" content="{{ page.keywords }}" />
	<meta name="description" content="{{ page.description }}" />

	{% if site.favicon %}
		<link rel="icon" href="{{ site.favicon['favicon'] }}" type="image/x-icon" />
		<link rel="SHORTCUT ICON" href="{{ site.favicon['thumbnail'] }}?v={{ "now"|date("U") }}" type="image/x-icon" />
	{% endif %}
	<meta name="viewport" content="width=device-width,initial-scale=1">

	{% include basekit.headScript %}
</head>

<body class="{{ page.backgroundClass }}">

	<!-- Site Container (Required) -->
	<div class="site-container">

		{% include "includes/header.twig" %}

		{% block content %}
		{% endblock %}

		{% include "includes/footer.twig" %}

	</div>

    {% include basekit.bodyScript %}

	<!-- jQuery -->
	<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
	<script src="{{ asset('js/jquery.1.11.0.js')}}"></script>

	<script src="{{ asset('js/custom.js')}}"></script>
	<script>

		// Toggles class open to display/hide the whole navigation
		$( ".template-nav" ).addClass( "closed" );

		$( ".nav-icon" ).click(function() {
			$( ".template-nav" ).toggleClass( "open" ).toggleClass( "closed" );
		});

	</script>

	{% block bodyscripts %}
	{% endblock %}
</body>
</html>
